@model List<Emp>


<a asp-controller="Emp" asp-action="AddEmp"><input type="submit" value="Add Emp" class="btn btn-info" /></a>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Department</th>
            <th scope="col">Salary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
             <th scope="row">@d.id</th>
            <td>@d.name</td>
            <td>@d.department</td>
            <td>@d.salary</td>
            <td><a asp-controller="Emp" asp-action="DelEmp" asp-route-id="@d.id"><input type="button" class="btn btn-danger" value="Delete" /></a></td>
                <td><a asp-controller="Emp" asp-action="UpdateEmp" asp-route-id="@d.id"><input type="button" class="btn btn-info" value="Update" /></a></td>
        </tr>
        }
    </tbody>
</table>